
<div class="container">
  <div class="header"><h1>Welcome to Mega Chat</h1></div>
  <div class="logout"><button class="button is-small" mat-raised-button color="primary" (click)="auth.signOut()">Sign Out</button></div>
</div>

<div class="login">
  <div *ngIf=" auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="70px">
    <p class="usernameContainer">
      <span class="flexitem">{{ user.displayName }}</span>
    </p>

    <button class="button" mat-raised-button color="primary" routerLink="/chats/UJrR0M10IK7VJDVCQIKF">Join Mega Chat 🎪</button>
    <button class="button is-info" mat-raised-button color="primary" (click)="cs.create()">Create New Chat</button>
    <hr>


    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul>
  </div>

  <ng-template #login>
    <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
  </ng-template>

</div>
